<nav class="navbar navbar-expand-lg " style="background-color: rgba(241, 220, 220, 0.74);">
    <a class="navbar-brand" routerLink="user" style="color: rgba(247, 19, 95, 0.815);" ><b>Search-Github</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/user" style="color: rgba(247, 19, 95, 0.815);">User-Infor</a>
        <a class="nav-item nav-link active" routerLink="/repository" style="color: rgba(247, 19, 95, 0.815);">Repositories</a>
      </div>
    </div>
  </nav>
