<div class="container">
        <app-form (emittextsearch)="usersearch($event)"></app-form>
        <div class="row">
        <div class="col-md-6"> 
            <img src="{{user.avatar_url}}" alt="">
            <p  appStrikethrough class="bren">Name: {{user.name}}</p>
        </div>
        <div class="col-md-6">
            <div class="card m-2">
                <div class="card-title mb-2">
                    <p appStrikethrough>Username: {{user.login}}</p>
                    <p appStrikethrough>Followers: {{user.followers}}</p>
                    <p appStrikethrough>Followering:{{user.following}}</p>
                    <p appStrikethrough>Repository:{{user.public_repos}}</p>
                    <p appStrikethrough>Years:{{user.created_at | created}}</p>
                </div>
            </div>
        </div>
    </div>
</div>